html {
  font-size: 10px;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 650px) {
  html {
    font-size: 13px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
